<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数萃报道</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/static/light7.min.css">
</head>
<body>
<div class="page-group">
    <div class="page page-current" id="home">
        <header class="bar bar-nav">
            <h1 class="title">欢迎来到数萃</h1>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">姓名</div>
                                <div class="item-input">
                                    <input type="text" placeholder="请输入您的姓名" id="input_stu_name">
                                    <input type="hidden" id="id">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <a href="#" class="button button-big button-fill button-success" id="btn_getinfo">下一步</a>
            </div>
        </div>
    </div>
    <div class="page" id="info">
        <header class="bar bar-nav">
            <h1 class='title'>请确认您的信息</h1>
        </header>
        <div class="content">
            <div class="content-block-title">个人信息</div>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">姓名</div>
                            <div class="item-after" id="stu_name"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">电话</div>
                            <div class="item-after" id="stu_phone"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">邮箱</div>
                            <div class="item-after" id="stu_email"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">单位</div>
                            <div class="item-after" id="stu_unit"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">职务</div>
                            <div class="item-after" id="stu_job"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">费用信息</div>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">折扣</div>
                            <div class="item-after" id="discount"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">模块</div>
                            <div class="item-after" id="module"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">价格</div>
                            <div class="item-after" id="price"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">发票信息</div>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">发票类型</div>
                            <div class="item-after" id="invoice_type"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">发票抬头</div>
                            <div class="item-after" id="invoice_title"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">开票项目</div>
                            <div class="item-after" id="invoice_item"></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">税号</div>
                            <div class="item-after" id="tax_no"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="div_vat">
                <div class="content-block-title">增值税专用发票信息</div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-content-inner" id="vat_invoice"></div>
                    </div>
                </div>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a href="#home" class="button button-big button-fill button-danger back">返回</a>
                    </div>
                    <div class="col-50"><a href="#" class="button button-big button-fill button-success" id="btn_checkin">签到</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='/static/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/light7.min.js' charset='utf-8'></script>
<script type="text/javascript">
    var cid = -1;
    $.init();
    $("#btn_getinfo").on("click", function () {
        var stu_name = $("#input_stu_name").val();
        if (stu_name) {
            $.showPreloader("加载中");
            $.post("/info", {"stu_name": stu_name}, function (data) {
                $.hidePreloader();
                if (data["ret"] === 1) {
                    cid = data["id"];
                    $.each(data["data"], function(key, val){
                        $("#" + key).html(val);
                    });
                    if (data["attendance"] === 1) {
                        $("#btn_checkin").addClass("disabled");
                        $("#btn_checkin").html("已签到")
                    }
                    if (data["data"]["vat_invoice"].trim() === "") {
                        $("#invoice_type").html("普通发票");
                        $("#div_vat").hide();
                    } else {
                        $("#invoice_type").html("专用发票");
                    }
                    $.router.loadPage("#info");
                } else {
                    $.toast("未找到该用户");
                }
            }, "json");
        } else {
            $.toast("请输入姓名");
        }
    });
    $("#btn_checkin").on("click", function(){
        $.showPreloader("加载中");
        $.post("/checkin", {"id": cid}, function(data){
            $.hidePreloader();
            if (data["ret"] === 1) {
                $.alert("签到成功，请关闭本页面")
            } else {
                $.toast("您已签到，无需重复签到")
            }
        }, "json");
    })
</script>
</body>
</html>