<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数萃报道</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="https://cdn.bootcss.com/light7/0.4.3/css/light7.min.css">
</head>
<body>
<div class="page-group">
    <div class="page page-current" id="home">
        <header class="bar bar-nav">
            <h1 class="title">欢迎来到数萃</h1>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">姓名</div>
                                <div class="item-input">
                                    <input type="text" placeholder="请输入您的姓名" id="i_stu_name">
                                    <input type="hidden" id="id">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <a href="#" class="button button-big button-fill button-success" id="btn_getinfo">下一步</a>
            </div>
        </div>
    </div>
    <div class="page" id="info">-a
        <header class="bar bar-nav">
            <h1 class='title'>请确认您的信息</h1>
        </header>
        <div class="content">
            {% for block in ddl[0] %}
                <div class="content-block-title">{{ block.category }}</div>
                {% for card in block.cards %}
                    <div class="card">
                        <div class="card-content">
                            <div class="card-content-inner" id="{{ card.col_name }}"></div>
                        </div>
                    </div>
                {% endfor %}
                <div class="list-block">
                    <ul>
                        {% for row in block.rows %}
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">{{ row.col_label }}</div>
                                    <div class="item-after" id="{{ row.col_name }}"></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a href="#home" class="button button-big button-fill button-danger back">返回</a>
                    </div>
                    {% if ddl[1] %}
                    <div class="col-50">
                        <a href="#checkin" class="button button-big button-fill button-success"
                           id="btn_to_checkin">下一步</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page" id="checkin">
        <header class="bar bar-nav">
            <h1 class="title">请填写以下信息</h1>
        </header>
        <div class="content">
            {% for block in ddl[1] %}
                <div class="content-block-title">{{ block.category }}</div>
                <div class="list-block">
                    <ul>
                        {% for row in block.rows %}
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">{{ row.col_label }}</div>
                                    <div class="item-input">
                                        <input type="text" id="input_{{ row.col_name }}">
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        {% for card in block.cards %}
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">{{ card.col_label }}</div>
                                    <div class="item-input">
                                        <textarea id="input_{{ card.col_name }}"></textarea>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <div class="content-block">
                {% endif %}
                {% if ddl[1] %}
                <a href="#" class="button button-big button-fill button-success" id="btn_checkin">签到</a>
                {% else %}
                <div class="col-50"><a href="#" class="button button-big button-fill button-success" id="btn_checkin">签到</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='https://cdn.bootcss.com/light7/0.4.3/js/light7.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/client.min.js' charset='utf-8'></script>
<script type="text/javascript">
    var cid = -1;
    var client = new ClientJS();
    var fp = client.getFingerprint();
    var get_inputs = function() {
        eles = $("[id^=input_]");
        ret = [];
        for (var i = 0; i < eles.length; i++) {
            ret.push({"name": $(eles[i]).attr("id"), "value": $(eles[i]).val()});
        }
        ret.push({"name": "id", "value": cid});
        ret.push({"name": "fp", "value": fp});
        return ret;
    }
    $.init();
    $("#btn_getinfo").on("click", function () {
        var stu_name = $("#i_stu_name").val();
        if (stu_name) {
            $.showPreloader("加载中");
            $.post("/info", {"stu_name": stu_name, "fp": fp}, function (data) {
                $.hidePreloader();
                if (data["ret"] === 1) {
                    cid = data["id"];
                    $.each(data["data"], function (key, val) {
                        $("#" + key).html(val);
                    });
                    if (data["attendance"] === 1) {
                        $("#btn_checkin").addClass("disabled");
                        $("#btn_checkin").html("已签到");
                    } else {
                        $("#btn_checkin").removeClass("disabled");
                        $("#btn_checkin").html("签到");
                    }
                    $.router.loadPage("#info");
                } else if (data["ret"] == -2) {
                    $.toast("同一设备仅能签到一次！");
                } else {
                    $.toast("未找到该用户");
                }
            }, "json");
        } else  {
            $.toast("请输入姓名");
        }
    });
    $("#btn_checkin").on("click", function () {
        if (!$("#btn_checkin").hasClass("disabled")) {
            $.showPreloader("加载中");
            $.post("/checkin", get_inputs(), function (data) {
                $.hidePreloader();
                if (data["ret"] === 1) {
                    $("#btn_checkin").addClass("disabled");
                    $("#btn_checkin").html("已签到");
                    $.alert("签到成功，请关闭本页面")
                } else {
                    $.toast("您已签到，无需重复签到");
                }
            }, "json");
        }
    })
</script>
</body>
</html>